.profile-container {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ffffff;
  transition: 0.5s ease;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.profile-logout-container {
  width: 100%;
  padding: 5px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.profile-logout {
  margin-left: 20px;
  font-size: 14px;
  color: #000000;
  line-height: 25.5px;
}

.profile-logout-icon {
  margin-right: 20px;
  font-size: 14px;
  color: #a2a2aa;
}

.profile-img-container {
  margin-top: 25px;
}

.profile-image {
  border-radius: 50%;
  height: 105px;
  width: 105px;
  background: #f5f5f7;
}

.profile-image-src {
  position: relative;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  top: 2.5px;
  left: 3.5px;
}

.profile-name {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #111026;
  font-size: 15px;
  line-height: 40px;
  font-weight: 600;
}

.profile-bio {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a2a2aa;
  font-size: 12px;
  line-height: 6px;
  font-weight: 500;
  margin-bottom: 50px;
}

.profile-subjects-container {
  display: flex;
  width: 100%;
}

.profile-sub-category-content {
  flex: 20%;
  height: 30px;
  padding: 10px;
  margin: 5px;
  text-align: center;
}

.profile-sub-content {
  flex: 40%;
  height: 30px;
  padding: 10px;
  margin: 5px;
}

.profile-sub-div-content {
  flex: 40%;
  height: 30px;
  padding: 10px;
  margin: 5px;
  text-align: center;
  padding-top: 22px;
}

.profile-subject-category {
  margin-left: 20px;
  background: #f5f5f7;
  border-radius: 8px;
  padding: 8px;
  height: 18px;
  width: 18px;
  font-size: 12px;
}

.profile-subject {
  font-family: "Poppins", sans-serif;
  color: #111026;
  font-size: 14px;
  font-weight: 500;
}

.profile-subject-div {
  font-family: "Poppins", sans-serif;
  color: #a2a2aa;
  font-size: 10px;
  line-height: 22px;
  font-weight: 500;
}

.course-details-wrapper {
  margin-top: 80px;
}

.course-details-container {
  display: flex;
  width: 100%;
}

.course-details-icon-container {
  flex: 20%;
  height: 30px;
  padding: 10px;
  margin: 5px;
  text-align: center;
}

.course-details-icon {
  margin-left: 20px;
  background: #f5f5f7;
  border-radius: 8px;
  padding: 8px;
  height: 18px;
  width: 18px;
  font-size: 12px;
}

.course-details-content {
  flex: 80%;
  height: 30px;
  padding: 10px;
  margin: 5px;
}

.course-subject {
  font-family: "Poppins", sans-serif;
  color: #131336;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.course-subject-date {
  font-family: "Poppins", sans-serif;
  color: #a2a2aa;
  font-size: 10px;
  line-height: 22px;
  font-weight: 500;
}
